.card {
    border: 3px solid rgb(187, 37, 129);
    border-radius: 10px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:hover {
    scale: 1.2;
    cursor: grab;
}

img {
    width: 200px;
}

span + span {
    margin-top: 15px;
}